<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sas</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1 class="header-title">Система автоматического оформления списка источников</h1>
        <p class="header-support">Обратная связь</p>
    </header>

    <main>
        <div class="navigation-set">
            <div class="set">
                <button name="main-page" class="navigation-main-page navigation-button {% block main_button_active %} {% endblock main_button_active %}">Главная страница</button>
                <button name="user-input" class="navigation-user-input navigation-button {% block user_button_active%} {% endblock user_button_active%}">Ручной ввод</button>
                <button name="url-page" class="navigation-url navigation-button">составление по URL</button>
                <button name="sussex4" class="navigation-document navigation-button">Чтение из документа</button>
            </div>
            <div class="empty-box"></div>
        </div>

        <section class="main-page {% block main_page_active %} {% endblock main_page_active %}">
            <div class="container">
                <div class="cards">
                    <div name="navigation-user-input" class="card user-input-card">
                        <div class="card-header">
                            <h3>Ручной ввод</h3>
                        </div>
                        <div name="navigation-description" class="card-description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, rem?</p>
                        </div>
                    </div>
                    <div name="navigation-url" class="card url-card">
                        <div class="card-header">
                            <h3>Составление по URL</h3>
                        </div>
                        <div class="card-description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, rem?</p>
                        </div>
                    </div>
                    <div name="navigation-document" class="card document-card">
                        <div class="card-header">
                            <h3>Чтение из документа</h3>
                        </div>
                        <div class="card-description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, rem?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="user-input {% block user_input_active %} {% endblock user_input_active %}">
            <div class="container">
                <div class="user-input-set">
                    <button name="book-form" class="user-input-button book-button {% block book_button_active %} {% endblock book_button_active %}">книга</button>
                    <button name="article-form" class="user-input-button {% block article_button_active %} {% endblock article_button_active %}">статья из журнала</button>
                    <button name="resource-form" class="user-input-button {% block resource_button_active%} {% endblock resource_button_active %}">интернет ресурс</button>
                </div>
                <form method="POST" action="{% url 'index_book' %}" class="user-input-form book-form {% block book_form_visible %} {% endblock book_form_visible %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="type_book">
                    <div class="input">
                        <label for="surname">Фамилия и инициалы авторов</label>
                        <input class="text-input" type="text" name="surname" id="surname">
                    </div>
                    <div class="input">
                        <label for="book-name">Название книги</label>
                        <input class="text-input" type="text" name="book-name" id="book-name">
                    </div>
                    <div class="input">
                        <label for="publish-name">Название издательства</label>
                        <input class="text-input" type="text" name="publish-name" id="publish-name">
                    </div>
                    <div class="input">
                        <label for="publish-year">Год издания</label>
                        <input class="text-input" type="text" name="publish-year" id="publish-year">
                    </div>
                    <div class="input last-input">
                        <label for="page-number">Количество страниц</label>
                        <input class="text-input" type="text" name="page-number" id="page-number">
                    </div>
                    <button class="generate-button" name="generate_book">Сгенерировать</button>
                    <div class="input last-input book-result">
                        <input type="text" class="result-input" id="result1" value="{{result}}">
                        <button class="copy-button" onclick="Copy()">Скопировать</button>
                    </div>
                </form>

                <form method="POST" action="{% url 'index_article' %}" class="user-input-form article-form {% block article_form_visible %} {% endblock article_form_visible %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="type_article">
                    <div class="input">
                        <label for="author-surname">Фамилия и инициалы авторов</label>
                        <input class="text-input" type="text" name="author-surname" id="author-surname">
                    </div>
                    <div class="input">
                        <label for="article-name">Название статьи</label>
                        <input class="text-input" type="text" name="article-name" id="article-name">
                    </div>
                    <div class="input">
                        <label for="magazine-name">Название журнала</label>
                        <input class="text-input" type="text" name="magazine-name" id="magazine-name">
                    </div>
                    <div class="input">
                        <label for="article-publish-year">Год издания</label>
                        <input class="text-input" type="text" name="article-publish-year" id="article-publish-year">
                    </div>
                    <div class="input">
                        <label for="magazine-number">Номер журнала</label>
                        <input class="text-input" type="text" name="magazine-number" id="magazine-number">
                    </div>
                    <div class="input last-input">
                        <label for="magazine-article-number">Номер статьи в журнале</label>
                        <input class="text-input" type="text" name="magazine-article-number" id="magazine-article-number">
                    </div>
                    <button class="generate-button">Сгенерировать</button>
                    <div class="input last-input book-result">
                        <input type="text" class="result-input" id="result2" value="{{result2}}">
                        <button class="copy-button" onclick="Copy2()">Скопировать</button>
                    </div>
                </form>
                <form method="POST" action="{% url 'index_webresource' %}" class="user-input-form resource-form {% block resource_form_visible %} {% endblock resource_form_visible %}">
                    {% csrf_token %}
                    <input type="hidden" name="type" id="type" value="type_source">
                    <div class="input">
                        <label for="resource-author">Автор сайта</label>
                        <input class="text-input" type="text" name="resource-author" id="resource-author">
                    </div>
                    <div class="input">
                        <label for="resource-name">Заголовок статьи или страницы</label>
                        <input class="text-input" type="text" name="resource-name" id="resource-name">
                    </div>
                    <div class="input">
                        <label for="resource-link">Ссылка</label>
                        <input class="text-input" type="text" name="resource-link" id="resource-link">
                    </div>
                    <div class="input last-input">
                        <label for="visit-date">Дата обращения на сайт</label>
                        <input class="text-input" type="text" name="visit-date" id="visit-date">
                    </div>
                    <button class="generate-button">Сгенерировать</button>
                    <div class="input last-input book-result">
                        <input type="text" class="result-input" id="result3" value="{{result3}}">
                        <button class="copy-button" onclick="Copy3()">Скопировать</button>
                    </div>
                </form>
            </div>
        </section>

        <section class="url-page">
            <div class="container">
                <form action="" class="url-form">
                    <div class="input last-input book-result">
                        <input type="text" class="result-input" name="url-address" id="url-address" placeholder="Вставить URL-адрес веб-страницы">
                        <button class="load-button">Загрузить</button>
                    </div>
                    <div class="input last-input book-result">
                        <input type="text" class="result-input">
                        <button class="copy-button">Скопировать</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>